In [4]:
import numpy as np
import pandas as pd

In [5]:
data1 = np.arange(0,25).reshape(5,5)
data1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [6]:
index1 = ['a','b','c','d','e']
index2 = ('A','B','C','D','E')
index3 = range(6,11)
index4 = np.array([101,102,103,104,105])

columns1 = [111,222,333,444,555]
columns2 = ('IND','USA','BRZ','AST','AFR')

In [7]:
pd.DataFrame(data1,index1)      #Considers default values for columns in two value pass

    0   1   2   3   4
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [15]:
pd.DataFrame(data1,columns = columns2)     ## Considers passes column values but default index

   IND  USA  BRZ  AST  AFR
0    0    1    2    3    4
1    5    6    7    8    9
2   10   11   12   13   14
3   15   16   17   18   19
4   20   21   22   23   24

In [16]:
## Note here it mainly takes three input arguments
pd.DataFrame(data1,index1,columns1)

   111  222  333  444  555
a    0    1    2    3    4
b    5    6    7    8    9
c   10   11   12   13   14
d   15   16   17   18   19
e   20   21   22   23   24

In [21]:
df = pd.read_csv("sample.csv")

In [22]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,BDCQ.SF8RS2CA,2020.03,141.986,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN
3056,BDCQ.SF8RS2CA,2020.06,-5.260,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN
3057,BDCQ.SF8RS2CA,2020.09,73.572,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN
3058,BDCQ.SF8RS2CA,2020.12,229.689,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN
3059,BDCQ.SF8RS2CA,2021.03,155.167,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN

In [23]:
df.describe()

            Period    Data_value  Magnitude  Series_title_5
count  3060.000000   2818.000000     3060.0             0.0
mean   2018.361333   3489.871827        6.0             NaN
std       1.461626   5154.710945        0.0             NaN
min    2016.060000   -398.194000        6.0             NaN
25%    2017.090000    526.111500        6.0             NaN
50%    2018.120000   1496.565500        6.0             NaN
75%    2020.030000   3858.290000        6.0             NaN
max    2021.030000  30657.717000        6.0             NaN

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3060 entries, 0 to 3059
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  3060 non-null   object
 1   Period            3060 non-null   float64
 2   Data_value        2818 non-null   float64
 3   Suppressed        242 non-null    object
 4   STATUS            3060 non-null   object
 5   UNITS             3060 non-null   object
 6   Magnitude         3060 non-null   int64
 7   Subject           3060 non-null   object
 8   Group             3060 non-null   object
 9   Series_title_1    3060 non-null   object
 10  Series_title_2    3060 non-null   object
 11  Series_title_3    3060 non-null   object
 12  Series_title_4    3060 non-null   object
 13  Series_title_5    0 non-null      float64
dtypes: float64(3), int64(1), object(10)
memory usage: 334.8+ KB

colums

In [27]:
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [28]:
df.index

RangeIndex(start=0, stop=3060, step=1)

In [30]:
df['Magnitude']

0       6
1       6
2       6
3       6
4       6
       ..
3055    6
3056    6
3057    6
3058    6
3059    6
Name: Magnitude, Length: 3060, dtype: int64

In [32]:
df['Period']+df['Data_value']

0       3132.446
1       3086.964
2       3070.528
3       3027.695
4       3250.760
          ...
3055    2162.016
3056    2014.800
3057    2093.662
3058    2249.809
3059    2176.197
Length: 3060, dtype: float64

In [37]:
df['total_percentage'] = df['Period']/df['Data_value']*100

In [38]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,total_percentage
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,180.588076
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,188.265846
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,191.208716
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,199.574538
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,163.496798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,BDCQ.SF8RS2CA,2020.03,141.986,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,1422.696604
3056,BDCQ.SF8RS2CA,2020.06,-5.260,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,-38404.182510
3057,BDCQ.SF8RS2CA,2020.09,73.572,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,2745.732072
3058,BDCQ.SF8RS2CA,2020.12,229.689,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,879.502284
3059,BDCQ.SF8RS2CA,2021.03,155.167,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,1302.486998

In [40]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,total_percentage
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,180.588076
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,188.265846
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,191.208716
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,199.574538
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,163.496798

In [41]:
df['total_percentage'] = np.round(df['Period']/df['Data_value'],decimals=3)

In [42]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,total_percentage
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.806
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.883
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.912
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.996
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.635

In [43]:
##  df.drop('CC Number', axis = 1, inplace = True)   or
df = df.drop('Subject', axis = 1)

In [44]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,total_percentage
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.806
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.883
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.912
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.996
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,BDCQ.SF8RS2CA,2020.03,141.986,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,14.227
3056,BDCQ.SF8RS2CA,2020.06,-5.260,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,-384.042
3057,BDCQ.SF8RS2CA,2020.09,73.572,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,27.457
3058,BDCQ.SF8RS2CA,2020.12,229.689,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,8.795
3059,BDCQ.SF8RS2CA,2021.03,155.167,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,13.025

In [47]:
df = df.rename(columns = {'Num_of_persons':'UNITS'}, inplace = False)
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,total_percentage
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.806
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.883
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.912
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.996
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,BDCQ.SF8RS2CA,2020.03,141.986,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,14.227
3056,BDCQ.SF8RS2CA,2020.06,-5.260,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,-384.042
3057,BDCQ.SF8RS2CA,2020.09,73.572,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,27.457
3058,BDCQ.SF8RS2CA,2020.12,229.689,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,8.795
3059,BDCQ.SF8RS2CA,2021.03,155.167,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,13.025

In [46]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,Num_of_persons,Magnitude,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,total_percentage
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.806
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.883
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.912
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.996
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,BDCQ.SF8RS2CA,2020.03,141.986,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,14.227
3056,BDCQ.SF8RS2CA,2020.06,-5.260,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,-384.042
3057,BDCQ.SF8RS2CA,2020.09,73.572,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,27.457
3058,BDCQ.SF8RS2CA,2020.12,229.689,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,8.795
3059,BDCQ.SF8RS2CA,2021.03,155.167,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,13.025

In [48]:
df.set_index('UNITS')

,Series_reference,Period,Data_value,Suppressed,STATUS,Magnitude,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,total_percentage
UNITS,,,,,,,,,,,,,
Dollars,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.806
Dollars,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.883
Dollars,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.912
Dollars,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.996
Dollars,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.635
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Dollars,BDCQ.SF8RS2CA,2020.03,141.986,NaN,F,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,14.227
Dollars,BDCQ.SF8RS2CA,2020.06,-5.260,NaN,F,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,-384.042
Dollars,BDCQ.SF8RS2CA,2020.09,73.572,NaN,F,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,27.457
Dollars,BDCQ.SF8RS2CA,2020.12,229.689,NaN,F,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,8.795
Dollars,BDCQ.SF8RS2CA,2021.03,155.167,NaN,F,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,13.025

In [49]:
df.reset_index()

,index,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,total_percentage
0,0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.806
1,1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.883
2,2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.912
3,3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.996
4,4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,3055,BDCQ.SF8RS2CA,2020.03,141.986,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,14.227
3056,3056,BDCQ.SF8RS2CA,2020.06,-5.260,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,-384.042
3057,3057,BDCQ.SF8RS2CA,2020.09,73.572,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,27.457
3058,3058,BDCQ.SF8RS2CA,2020.12,229.689,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,8.795
3059,3059,BDCQ.SF8RS2CA,2021.03,155.167,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,13.025

In [50]:
df.iloc[0]

Series_reference                     BDCQ.SF1AA2CA
Period                                     2016.06
Data_value                                1116.386
Suppressed                                     NaN
STATUS                                           F
UNITS                                      Dollars
Magnitude                                        6
Group               Industry by financial variable
Series_title_1            Sales (operating income)
Series_title_2                Forestry and Logging
Series_title_3                      Current prices
Series_title_4                          Unadjusted
Series_title_5                                 NaN
total_percentage                             1.806
Name: 0, dtype: object

In [52]:
new_row = df.iloc[0]
new_row

Series_reference                     BDCQ.SF1AA2CA
Period                                     2016.06
Data_value                                1116.386
Suppressed                                     NaN
STATUS                                           F
UNITS                                      Dollars
Magnitude                                        6
Group               Industry by financial variable
Series_title_1            Sales (operating income)
Series_title_2                Forestry and Logging
Series_title_3                      Current prices
Series_title_4                          Unadjusted
Series_title_5                                 NaN
total_percentage                             1.806
Name: 0, dtype: object

In [53]:
df = df.append(new_row)
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,total_percentage
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.806
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.883
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.912
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.996
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3056,BDCQ.SF8RS2CA,2020.06,-5.260,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,-384.042
3057,BDCQ.SF8RS2CA,2020.09,73.572,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,27.457
3058,BDCQ.SF8RS2CA,2020.12,229.689,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,8.795
3059,BDCQ.SF8RS2CA,2021.03,155.167,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,13.025
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.806

In [55]:
bool_series = df['Period']>2018
bool_series

0       False
1       False
2       False
3       False
4       False
        ...
3056     True
3057     True
3058     True
3059     True
0       False
Name: Period, Length: 3061, dtype: bool

In [56]:
df[bool_series]

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,total_percentage
7,BDCQ.SF1AA2CA,2018.03,1412.007,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.429
8,BDCQ.SF1AA2CA,2018.06,1488.055,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.356
9,BDCQ.SF1AA2CA,2018.09,1497.678,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.347
10,BDCQ.SF1AA2CA,2018.12,1570.507,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.285
11,BDCQ.SF1AA2CA,2019.03,1393.749,NaN,F,Dollars,6,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN,1.449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,BDCQ.SF8RS2CA,2020.03,141.986,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,14.227
3056,BDCQ.SF8RS2CA,2020.06,-5.260,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,-384.042
3057,BDCQ.SF8RS2CA,2020.09,73.572,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,27.457
3058,BDCQ.SF8RS2CA,2020.12,229.689,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,8.795
3059,BDCQ.SF8RS2CA,2021.03,155.167,NaN,F,Dollars,6,Industry by financial variable,Operating profit,Other Services,Current prices,Unadjusted,NaN,13.025